annotated-types==0.7.0
anyio==4.10.0
backend==0.2.4.1
base==0.0.0
beautifulsoup4==4.13.5
blinker==1.9.0
bs4==0.0.2
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
dotenv==0.9.9
fastapi==0.116.1
feedparser==6.0.12
filelock==3.19.1
Flask==3.1.2
flask-cors==6.0.1
fsspec==2025.7.0
h11==0.16.0
huggingface-hub==0.34.4
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
logzero==1.7.0
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.5
numpy==2.3.2
packaging==25.0
pandas==2.3.2
pydantic==2.11.7
pydantic_core==2.33.2
pyotp==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
regex==2025.7.34
requests==2.32.5
safetensors==0.6.2
setuptools==80.9.0
sgmllib3k==1.0.0
six==1.17.0
smartapi-python==1.5.5
sniffio==1.3.1
soupsieve==2.8
starlette==0.47.3
sympy==1.14.0
tokenizers==0.21.4
torch==2.8.0
tqdm==4.67.1
transformers==4.55.2
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.35.0
vaderSentiment==3.3.2
websocket-client==1.8.0
Werkzeug==3.1.3
